<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
  <form method="post" action="/chats/<%= chat._id %>?_method=PATCH">
    <h3>Edit chat of :<%=chat._id  %> </h3>
    <p>Chat send by : <%= chat.from %> </p>
    <p>Chat receive to : <%= chat.to %> </p>
    <textarea name="msg"  rows="8" cols="40"> <%= chat.msg %> </textarea>
    <button>Edit</button>
 </form>  

</body>
</html>